@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --background: #060b0e;
    --text: #f8fbfc;
    --accent: #4a5364;
    --primary: #99a8c7;
    --secondary: #c0c9de;
    --text-secondary: #ecf3f8;
    --danger: rgb(255, 98, 98);
}
.danger-text {
    color: var(--danger) !important;
}
.danger-btn {
    color: var(--text) !important;
    background: var(--danger) !important;
}
.ql-snow {
    border: 1px solid var(--primary) !important;
}
.ql-editor {
    height: 500px !important;
    max-height: 100% !important;
    font-size: x-large;
}
.ql-toolbar {
    border-bottom: none !important;
    background-color: var(--primary) !important;
    border-radius: 5px 5px 0 0; /* Menambahkan border-radius di bagian atas */
}

.ql-picker-label,
.ql-toolbar .ql-formats > button {
    background-color: var(--primary) !important;
    font-size: 16px;
    border-radius: 5px;

    margin-right: 5px; /* Mengganti margin-right dengan margin */
    transition: background-color 0.3s ease; /* Menambahkan transisi */
}

.ql-toolbar .ql-formats > button {
    height: 30px !important; /* Mengurangi tinggi tombol */
    width: 30px !important; /* Mengurangi lebar tombol */
    display: inline-flex; /* Menggunakan flexbox untuk centering */
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd; /* Menambahkan border */
}

.ql-toolbar .ql-formats > button:hover {
    background-color: #eee !important; /* Mengubah warna latar belakang saat dihover */
}

.ql-toolbar .ql-formats > button > svg {
    stroke: #333; /* Mengubah warna ikon */
    transition: stroke 0.3s ease; /* Menambahkan transisi */
}

.ql-toolbar .ql-formats > button:hover > svg {
    stroke: var(--primary); /* Mengubah warna ikon saat dihover */
}
body {
    background-color: var(--background) !important;
    color: var(--text) !important;
    font-family: "Montserrat", sans-serif !important;
}
.karla {
    font-family: 'Karla' !important;
}
.pfp-home {
    border-radius: 100%;
    height: 100%;
    width: auto;
    max-height: 200px;
}
.padding-0 {
    padding: none !important;
}
.pfp-home-blur {
    border-radius: 35%;
    height: 100%;
    width: auto !important;
    max-height: 200px;
    filter: blur(20px) !important;
}
.pfp-landing-blur {
    border-radius: 58px;
    height: 50%;
    width: 500px !important;
    max-width: 100%;
    opacity: 50%;
    max-height: 160px;
    opacity: 30% !important;
    filter: blur(20px) !important;
}
a {
    color: var(--text) !important;
    text-decoration: none !important;
}

h1,
h3, .form-control {
    font-weight: bold !important;
}
.form-control {
    border: none !important;
    margin-right: 6px;
    border: 2px solid var(--primary) !important;
    background-color: var(--background) !important;
    color: var(--text) !important;
    width: 100% !important;
}

.book-title { 
        display: inline-block !important;
        float:left !important;
width: calc(80%); /* The trick is here! */
    white-space: nowrap !important;
    overflow: hidden !important;
}

textarea.form-control {
    font-size: larger !important;
}
.sa {
    font-size: xx-large !important;
}
.img-bs {
    margin: 0 !important;
    padding: 0 !important;
    height: 300px !important;
    width: 650px !important;
    max-width: 100% !important;
    object-fit: cover;
    border-radius: 17px;
  box-shadow: 0.3rem 0.3rem var(--accent);
    border: 1px var(--primary) solid;
}
.img-bs-home {
    margin: 0 !important;
    padding: 0 !important;
    height: 400px !important;
    width: 650px !important;
    max-width: 100% !important;
    object-fit: cover;
    border-radius: 17px;
  box-shadow: 0.3rem 0.3rem var(--accent);
    border: 1px var(--primary) solid;
}
/* Other styles */

.button-container {
    width: 50% !important; /* Default width for larger screens */
}

@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .button-container {
        width: 100% !important; /* Full width on smaller screens */
    }
}

.secondary-text {
    color: var(--text-secondary) !important;
    opacity: 65%;
    font-weight: medium !important;
}
.primary-btn {
    background-color: var(--text) !important;
    color: var(--background) !important;
    border: 1px solid var(--text) !important;
    font-weight: bold !important;
}
.secondary-btn {
    background-color: var(--secondary) !important;
    color: var(--background) !important;
    border: 1px solid var(--secondary) !important;
    font-weight: bold !important;
}
.accent-btn {
    background-color: var(--primary) !important;
    color: var(--background) !important;
    border: 1px solid var(--primary) !important;
    font-weight: bold !important;
}
.secondary-btn:hover,
.primary-btn:hover,
.accent-btn:hover {
    background-color: var(--accent) !important;
    color: var(--text) !important;
    border: 1px solid var(--accent) !important;
}
.navbar-brand > h1 {
    font-size: 1.5rem !important;
}

hr {
    border-top: 2px var(--primary) solid !important;
}

.loading-dots::before {
    content: "...";
    animation: loading 1.5s linear infinite; /* Animasi 3 titik */
}

@keyframes loading {
    0% {
        content: ".";
    } /* Titik pertama */
    33% {
        content: "..";
    } /* Dua titik */
    66% {
        content: "...";
    } /* Tiga titik */
}
.bookCover {
    width: 100%;
    height: auto;
    max-height: 500px !important;
    object-fit: cover;
    border-radius: 24px;
    border: 2px var(--primary) solid;
}
.isi {
    text-align: justify !important;
}
.content {
    padding-left: 16%;
    padding-right: 16%;
}
.bookTitle {
    font-family: "Noto Serif", serif !important;
}
.comment-name {
    font-weight: 600 !important;
}
::placeholder {
    color: #c0c9de !important;
}
.background-dark {
    /* From https://css.glass */
    background: rgba(6, 11, 14, 0.46) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(7.1px) !important;
    -webkit-backdrop-filter: blur(7.1px) !important;
}
@media (max-width: 768px) {
    /* Adjust 768px as needed */
    .img-bs {
        width: 100%;
    }
    .content {
        padding-left: 0;
        padding-right: 0;
    }
}
