@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --text: #000000;
  --background: #FFF9F1;
  --primary: #BEC6A0;
  --secondary: #8EAD8F;
  --accent: #C4CCE0;
  --danger: #f37a7a;
}
body, .bg-bg {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.btn-primary, .btn-outline-primary:hover {
  background-color: var(--primary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--text) !important;
  font-weight: 900 !important;
}

.btn-secondary, .btn-outline-secondary:hover {
  background-color: var(--secondary) !important;
  border: 1px solid var(--primary) !important;
  color: var(--text) !important;
  font-weight: 900 !important;
}

.btn-outline-primary {
  border: 1px solid var(--primary) !important;
  color: var(--text) !important;
  font-weight: 900 !important;
}

.btn-outline-secondary {
  border: 1px solid var(--secondary) !important;
  color: var(--text) !important;
  font-weight: 900 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: var(--secondary) !important;
}
.btn-danger {
  background-color: var(--danger) !important;
  border: none !important;
  color: var(--text) !important;
  font-weight: 900 !important;
}